/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

@font-face {
  font-family: 'Pixel';
  src: local('Pixel'), url(./app/pixel.ttf) format('woff');
}

@font-face {
  font-family: 'NeonRetro';
  src: local('NeonRetro'), url(./app/neonretro.otf) format('woff');
}

html {
  height: 100%;
  width: 100%;
}

button {
  z-index: 1;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-height: 100%;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.header > img {
  margin-left: .5rem;
}

.trivia--card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 11rem);
  width: 80vw;
  max-width: 80vw;
  background-color: aquamarine;
  /* Border Design */
  padding: 1rem 1rem;
  display: inline-block;
  border: 3px solid #2bd1fc;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background: #2bd1fc;
  position: relative;
}
  
.trivia--card:before {
  content: '';
  border: 2px solid #ff48c4;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.trivia--card > span, .card--body > span {
  font-size: 1.3rem;
  font-family: pixel;
}

.card--body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 100%;
  position: relative;
}

.card--question {
  font-family: pixel;
  margin: 2rem;
  font-size: 1.5rem;
  background-color: #ff48c4;
  padding: 1rem;
}

.card--answers {
  display: flex;
  align-self: flex-start;
  width: 80%;
  margin: 0 3rem;
}

.card--answers > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card--answers > ul > li {
  background-color: white;
  border-radius: .25rem;
  width: 100%;
  margin-bottom: .5rem;
  cursor: pointer;
  padding: .5rem;
  z-index: 1;
}

.question--timer {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.timer {
  width: 10px;
  height: 10px;
}

.start--quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 90%;
  height: 100%;
}

.start--options {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin: 2rem 0;
}

.individual--option {
  background-color: white;
}

.start--button {
  font-family: pixel;
  width: 6rem;
  height: 3rem;
  outline: 1px solid black;
  background-color: white;
  box-shadow: .25rem .25rem #ff48c4;
  color: #ff48c4;
  border: none;
}

.start--button:active {
  box-shadow: .1rem .1rem #ff48c4;
  transform: translateY(.1rem);
}

.end--quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 90%;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

.answer--score {
  font-family: pixel;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.answer--block {
  display: flex;
  flex-direction: column;
  max-height: 85%;
  overflow-y: scroll;
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
  z-index: 1;
}

.end--answers {
  display: flex;
  flex-direction: column;
  margin: 1rem .5rem;
  gap: .75rem;
}

.interlude--body {
  height: 100%;
}

.challenge--buttons {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.challenge--buttons > button > img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.challenge--button, .challenge--button--clicked {
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.challenge--button--clicked {
  outline: 1px solid black;
  box-shadow: 5px 5px #ff48c4;
}

.redacted {
  background-color: black !important;
  font-size: 1.2rem;
  color: white !important;
  border: none;
  transform: rotate(-1deg);
  text-align: center;
}

.need--glasses {
  font-size: .35rem;
}

.card--result {
  font-size: 1.3rem;
  font-family: pixel;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: .5rem;
  gap: .5rem;
}

.interlude--timer {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.correct--answer {
  color: green;
}

.incorrect--answer {
  color: red;
}
